<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">&nbsp;&nbsp; Web Speech API in Angular2</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control border-input" name="speechData" id="speechData" value="" placeholder="Click below button and then say something!!!" [(ngModel)]="speechData">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-info btn-fill btn-wd" name="searchImg" id="searchImg" (click)="activateSpeechSearch()">
                        Enable Speech Search
                        </button>
                        <!-- <button class="btn btn-info btn-fill btn-wd" name="removeImg" id="removeImg" (click)="deactivateSpeechSearch()">
                        Disable Speech Search
                        </button> -->
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="all_pics_container" *ngFor="let img of allpics">
    <div *ngIf="img.imgurl">
        <!-- <img style='margin-left:40px' src={{img.imgurl}} alt={{img.name}} border=15px> -->
        <img src={{img.imgurl}} alt={{img.name}}>
    </div>
</div>


<div *ngIf="pic" class="picked_container">
    {{pic.position}}
    <h2>Picked</h2>
    <img [style.margin-left.px]=pic.position src={{pic.imgurl}} alt={{pic.name}}>
</div>