<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src='https://www.bing.com/th?id=OIP.zG1yrXdozHvH_0slHUuzKQHaGW&w=234&h=195&c=7&o=5&pid=1.7' width="30" height="30" alt="icon"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/texttospeech']">Voice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/rotate']">3D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mapping2d']">2D-D3</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mapping3d']">3D-D3</a>
            </li> -->
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>