<!-- <form>
    <input type="text" x-webkit-speech>
</form> -->

<!-- <img alt="Start" id="start_img" src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif">
<img alt="Start" id="start_img" src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif">
<img alt="Start" id="start_img" src="Users/priyanka/Desktop/mic-animate.gif"> -->-->


<h1>Speech synthesiser</h1>

<p>Enter some text in the input below and press return or the "press" button to hear it.</p>

<form (submit)="onSubmit($event)">
    <input type="text" class="txt" name="speakthis" [(ngModel)]="speakthis">

    <div class="controls">
        <button class="btn" id="play" type="submit">Say What?</button>
    </div>
</form>